mixin icon(name)
	case name
		when 'code'
			include ../icon/code.svg
		when 'dot-circle-o'
			include ../icon/dot-circle-o.svg
		when 'circle-o'
			include ../icon/circle-o.svg
		when 'twitter'
			include ../icon/twitter.svg
		when 'stack-overflow'
			include ../icon/stack-overflow.svg
		when 'github'
			include ../icon/github.svg
		when 'linkedin'
			include ../icon/linkedin.svg
		when 'xing'
			include ../icon/xing.svg
		when 'envelope-o'
			include ../icon/envelope-o.svg
