doctype html
html.no-js(lang='en', prefix='og:http://ogp.me/ns# profile:http://ogp.me/ns/profile#')
	head
		meta(charset='utf-8')
		title Thomas Deinhamer — Thasmo

		meta(name='description', content='Curious all day, awake at night.')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		meta(property='og:title', content='Thomas Deinhamer — Thasmo')
		meta(property='og:description', content='Curious all day, awake at night.')
		meta(property='og:url', content='http://thasmo.com/')
		meta(property='og:image', content='http://gravatar.com/avatar/39263d15a3b0838a938aaaa59dde5c06?s=256')
		meta(property='og:type', content='profile')
		meta(property='profile:first_name', content='Thomas')
		meta(property='profile:last_name', content='Deinhamer')
		meta(property='profile:username', content='Thasmo')
		meta(property='profile:gender', content='male')

		meta(name='twitter:title', content='Thomas Deinhamer — Thasmo')
		meta(name='twitter:description', content='Curious all day, awake at night.')
		meta(name='twitter:url', content='http://thasmo.com/')
		meta(name='twitter:image', content='http://gravatar.com/avatar/39263d15a3b0838a938aaaa59dde5c06?s=256')
		meta(name='twitter:card', content='summary')
		meta(name='twitter:site', content='@thomasdeinhamer')

		meta(name='geo.position', content='47.8;13.033333')
		meta(name='geo.placename', content='Salzburg, Austria')
		meta(name='geo.region', content='AT')

		meta(property='fb:admins', content='1351449068')

		link(rel='canonical', href='http://thasmo.com/')

		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.min.css')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/static/style/main.css')

		<!--[if lt IE 9]>
		script(src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js')
		<![endif]-->

	body.page
		article.profile(itemscope='itemscope', itemtype='http://schema.org/Person')
			section.profile-figure
				img.profile-photo(itemprop='image', src='//gravatar.com/avatar/39263d15a3b0838a938aaaa59dde5c06?s=256', alt='Photo of Thomas Deinhamer')
				a.profile-employer(href='http://www.pixelart.at/')
					img(src='//gravatar.com/avatar/573dc407c63009618cbc693f21c23428?s=256', alt='Logo of pixelart GmbH')

			p.profile-quote
				| Curious all day,
				br
				| awake at night.

		p.bar
			a.network.network--facebook(href='//facebook.com/thomasdeinhamer', rel='me')
				i.fa.fa-facebook
			a.network.network--twitter(href='//twitter.com/thomasdeinhamer', rel='me')
				i.fa.fa-twitter
			a.network.network--github(href='//github.com/thasmo', rel='me')
				i.fa.fa-github
			a.network.network--google(href='//google.com/+ThomasDeinhamer', rel='me')
				i.fa.fa-google-plus

		noscript
			iframe(src='//www.googletagmanager.com/ns.html?id=GTM-PT4NQB', style='display:none;')

		script.
			(function(w,d,s,l,i){
				w[l]=w[l]||[];
				w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
				var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;
				j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-PT4NQB');
