meta(name='twitter:title', content=content.website.title)
meta(name='twitter:description', content=content.website.description.replace('\n', ' '))
meta(name='twitter:url', content=content.self.address)
meta(name='twitter:image', content='https:' + content.self.avatar + '?s=512')
meta(name='twitter:card', content='summary')
meta(name='twitter:site', content='@thomasdeinhamer')
