---
const { title, description } = Astro.props;
---
<head>
	<meta charset="utf-8" />
	<title>{title}</title>

	<link rel="preload" as="image" href="https://avatar.thasmo.com/" />
	<link href="https://avatar.thasmo.com/" rel="icon" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content={description} />
	<meta property="og:image" content="https://avatar.thasmo.com/" />

	<slot />
</head>
