// _bar.scss

.bar {
	display: block;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1;

	width: 100%;
	margin: 0;

	background: color(blank);

	&__button {
		display: block;
		float: right;
		height: 50px;
		width: 20%;

		font-size: 20px;
		text-align: center;

		transition: color 250ms;

		.fa {
			vertical-align: middle;
			background: none;
		}

		&::before {
			content: '';
			display: inline-block;
			height: 100%;
			width: 0;

			vertical-align: middle;
		}

		&--on {
			color: color(base);

			&:hover {
				color: color(accent);
			}
		}

		&--off {
			display: none;
			color: color(accent);
		}
	}

	&__social {
		overflow: hidden;
		opacity: 1;

		display: flex;
		float: left;
		width: 80%;
		margin: 0;

		transition: opacity 250ms, background 250ms, transform 250ms;

		&:hover {
			.network {
				opacity: 0;
			}
		}
	}

	@media(min-width: 480px) {
		top: 0;
		right: 0;
		bottom: 0;

		width: auto;
		height: 100%;
		padding-top: 50px;

		&__button, &__social {
			float: none;
		}

		&__button {
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
		}

		&__social {
			flex-direction: column;
			width: 50px;
			height: 100%;
		}
	}
}

:root:target .bar {
	width: 20%;
	background: none;

	&__button {
		width: 100%;

		&--on {
			display: none;
		}

		&--off {
			display: block;
		}
	}

	&__social {
		display: none;
	}

	@media(min-width: 480px) {
		width: auto;
		background: color(blank);

		&__social {
			display: flex;
			opacity: 0;
			transform: translateX(100%);
		}
	}
}
