// _network.scss

.network {
	position: relative;

	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	height: 50px;

	color: #ccc;
	font-size: 28px;
	text-decoration: none;

	transition: color 250ms, opacity 250ms, background 250ms;

	&:hover {
		color: color(blank);
		opacity: 1 !important;
	}

	.fa {
		background: none;
	}
}

.network--twitter:hover {
	background: #55acee;
}

.network--github:hover {
	background: #333;
}

.network--xing:hover {
	background: #cfdc00;
}

.network--linkedin:hover {
	background: #0077b5;
}

.network--stack-overflow:hover {
	background: #f48024;
}
