// _network.scss

.network {
	position: relative;
	float: left;
	width: 50%;
	height: 50%;

	color: #ccc;
	font-size: 32px;
	text-decoration: none;

	transition: color 150ms, opacity 150ms, background 150ms;

	&::before {
		content: '';
		display: inline-block;
		height: 100%;
		width: 0;

		vertical-align: middle;
	}

	&:hover {
		color: #fff;
		opacity: 1 !important;
	}

	@media(min-width: 480px) {
		display: block;
		float: none;
		width: auto;
		height: 25%;
		padding: 0;
	}
}

.network--facebook:hover {
	background: #3b5998;
}

.network--twitter:hover {
	background: #55acee;
}

.network--github:hover {
	background: #333;
}

.network--google-plus:hover {
	background: #dd4b39;
}
