// _network.scss

.network {
	position: relative;
	float: left;
	width: 25%;
	height: 50px;

	color: #ccc;
	font-size: 28px;
	text-decoration: none;

	transition: color 250ms, opacity 250ms, background 250ms;

	&::before {
		content: '';
		display: inline-block;
		height: 100%;
		width: 0;

		vertical-align: middle;
	}

	&:hover {
		color: color(blank);
		opacity: 1 !important;
	}

	.fa {
		vertical-align: middle;
		background: none;
	}

	@media(min-width: 480px) {
		display: block;
		float: none;
		width: 50px;
		height: 25%;
		padding: 0;
	}
}

.network--twitter:hover {
	background: #55acee;
}

.network--github:hover {
	background: #333;
}

.network--xing:hover {
	background: #cfdc00;
}

.network--linkedin:hover {
	background: #0077b5;
}
