// _page.scss

.page {
	height: 100%;
	width: 100%;
	vertical-align: middle;

	color: lighten(color(base), 25);
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	line-height: 1.5;

	cursor: default;
	background: color(subtle);

	&::before {
		content: '';
		display: inline-block;
		height: 100%;
		width: 0;

		vertical-align: middle;
	}
}
