// _panel.scss

.panel {
	opacity: 0;
	visibility: hidden;
	overflow: auto;

	position: fixed;
	top: 0;
	bottom: 50px;
	right: 0;
	z-index: 1;

	width: 100vw;

	text-align: left;

	background: #fff;
	transition: visibility 250ms, opacity 250ms, transform 250ms;

	&-content {
		padding: 25px;
	}

	@media (min-width: 480px) {
		opacity: 1;

		right: 50px;
		bottom: 0;

		width: 640px;
		max-width: calc(100vw - 50px);

		transform: translateX(100%);

		&-content {
			padding: 75px 125px 75px 75px;
		}
	}
}

.page:target .panel {
	opacity: .9;
	visibility: visible;

	@media (min-width: 480px) {
		opacity: 1;
		transform: translateX(0);
	}
}
