// _panel.scss

.panel {
	opacity: 0;
	visibility: hidden;
	overflow: auto;

	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1;

	width: 100vw;

	text-align: left;

	background: rgba(255, 255, 255, .9);

	transition: visibility 250ms, opacity 250ms, transform 250ms;

	-webkit-overflow-scrolling: touch;

	&__content {
		padding: 25px;
	}

	@media (min-width: 480px) {
		opacity: 1;

		right: 50px;
		bottom: 0;

		width: 640px;
		max-width: calc(100vw - 50px);

		background: color(blank);

		transform: translateX(100%);

		&__content {
			padding: 75px 125px 75px 75px;
		}
	}
}

:root:target .panel {
	opacity: 1;
	visibility: visible;

	@media (min-width: 480px) {
		opacity: 1;
		transform: translateX(0);
	}
}
