// _profile.scss

.profile {
	position: relative;
	top: -30px;

	display: inline-block;
	width: 256px;
	max-width: 99%;

	background: none;
	vertical-align: middle;
	transition: opacity 250ms, filter 250ms, transform 250ms;

	&__figure {
		position: relative;
		margin: 0;
	}

	&__link {
		display: block;
		overflow: hidden;
		border-radius: 100%;
	}

	&__photo {
		display: block;
		max-width: 100%;
		height: auto;
		user-select: none;
	}

	&__employer {
		position: absolute;
		right: 0;
		bottom: 0;
		opacity: 1;

		display: block;
		width: 72px;
		height: 72px;

		overflow: hidden;

		border: 1px solid color(blank);
		border-radius: 2px;
		background: color(blank);

		transition: opacity 250ms;
	}

	&__quote {
		opacity: 1;

		float: left;
		margin: 10px 0 0 0;

		font-family: 'Roboto Condensed', sans-serif;
		font-size: 28px;
		font-weight: 300;
		text-align: right;
		line-height: 1.2;
		letter-spacing: -.01em;
		white-space: nowrap;

		transition: opacity 250ms;

		&::before {
			content: '\f121';
			margin-right: 5px;
			color: color(accent);
			font-family: 'FontAwesome', fantasy;
		}
	}

	@media(min-width: 480px) {
		top: auto;
	}
}

:root:target .profile {
	@media(max-width: 480px) {
		&__link,
		&__photo {
			filter: blur(2.5px);
		}

		&__employer,
		&__quote {
			opacity: 0;
		}
	}
}
